_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
CNAME
.DS_Store
assets/images/posts/2020-12-18-How-to-run-Programs-on-Remote-Server/1*uGLPZIeLPkvvaRkVG1-tkw.png
assets/images/posts/2020-12-18-How-to-run-Programs-on-Remote-Server/1*uGLPZIeLPkvvaRkVG1-tkw-20201219214913992.png
assets/images/posts/2020-12-18-How-to-run-Programs-on-Remote-Server/1*uGLPZIeLPkvvaRkVG1-tkw.png
assets/images/posts/2020-12-18-How-to-run-Programs-on-Remote-Server/1*uGLPZIeLPkvvaRkVG1-tkw.png
